name: IssueDash

on:
  # todo: adjust
  push:
  pull_request:
  # schedule:
  # - cron: 0 * * * *

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
    - name: 'Generate Dashboard'
      uses: ethomson/issue-dashboard@v1
      with:
        config: |
          title: 'Dashboard'
          output:
            format: html
            filename: 'out/dashboard.html'
          sections:
          - title: 'Pull Requests'
            widgets:
            - type: 'table'
              title: 'New Pull Requests (This Week)'
              issue_query: 'repo:GoogleChrome/lighthouse is:open is:issue created:>{{ date("-7 days") }} sort:created-asc'
        token: ${{ github.token }}
    - name: Publish Documentation
      run: |
        git add .
        git config user.name 'Dashboard User'
        git config user.email 'nobody@nowhere'
        git commit -m 'Documentation update' --allow-empty
        git push origin gh-pages
      working-directory: out